@page
@model PreventPlus.Pages.HistoricosRisco.EditModel
@{
    ViewData["Title"] = "Editar Histórico de Risco";
}

<h2>Editar Histórico de Risco</h2>

<form method="post">
    <input type="hidden" asp-for="HistoricoRisco.IdHistorico" />
    <div class="form-group">
        <label asp-for="HistoricoRisco.HistChuva"></label>
        <input asp-for="HistoricoRisco.HistChuva" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HistoricoRisco.HistUmidade"></label>
        <input asp-for="HistoricoRisco.HistUmidade" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HistoricoRisco.HistTemp"></label>
        <input asp-for="HistoricoRisco.HistTemp" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HistoricoRisco.HistAlerta"></label>
        <input asp-for="HistoricoRisco.HistAlerta" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HistoricoRisco.HistImpacto"></label>
        <input asp-for="HistoricoRisco.HistImpacto" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="HistoricoRisco.IdRegiao"></label>
        <input asp-for="HistoricoRisco.IdRegiao" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Salvar</button>
</form>