@page "{id:int}"
@model PreventPlus.Pages.Kits.DetailsModel
@{
    ViewData["Title"] = "Detalhes do Kit";
}

<h2>Detalhes do Kit</h2>

<div>
    <h4>Kit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nome:</dt>
        <dd class="col-sm-10">@Model.Kit.IdKit</dd>

        <dt class="col-sm-2">Descrição:</dt>
        <dd class="col-sm-10">@Model.Kit.ItemKit</dd>
    </dl>
</div>

<a asp-page="Index" class="btn btn-secondary">Voltar</a>
<a asp-page="Edit" asp-route-id="@Model.Kit.IdKit" class="btn btn-primary">Editar</a>
<a asp-page="Delete" asp-route-id="@Model.Kit.IdKit" class="btn btn-danger">Excluir</a>