@page "{id:int}"
@model PreventPlus.Pages.Kits.EditModel
@{
    ViewData["Title"] = "Editar Kit";
}

<h2>Editar Kit</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Kit.IdKit"></label>
        <input asp-for="Kit.IdKit" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kit.ItemKit"></label>
        <textarea asp-for="Kit.ItemKit" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Salvar Alterações</button>
    <a asp-page="Index" class="btn btn-secondary mt-2">Cancelar</a>
</form>